* {
  font-family: 'Poppins', Cambria, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

button {
  cursor: pointer;
}

main,
section,
footer {
  width: 100%;
  max-width: 77.5rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1.25rem;
}
a {
  display: inherit;
}

a:focus {
  outline: 2px solid var(--green);
}

@media (max-width: 768px) {
  main,
  section,
  footer {
    min-height: initial;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.icon:hover path {
  fill: var(--green);
}

@media (max-width: 768px) {
  .icon {
    width: 1rem;
    height: 1rem;
  }
}
