* {
  font-family: 'Poppins', Cambria, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

main,
section,
footer {
  width: 100%;
  max-width: 77.5rem; /* 1240px */
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 1.25rem;
}

@media (max-width: 768px) {
  main,
  section,
  footer {
    min-height: initial;
  }
}
