:root {
  --dark: #2f2f2f;
  --light: #eeece9;
  --gray: #888;
  --green: #27ca54;
  --bg-white: url('~/static/images/bg-white.webp');
  --bg-dark: url('~/static/images/bg-dark.webp');
  --logo-opacity: initial;
  --logo-shadow: drop-shadow(0 0 6px #000);
}

.dark-mode:root {
  --dark: #eeeee9;
  --light: #2f2f2f;
  --gray: #888;
  --green: #27ca54;
  --bg-white: url('~/static/images/bg-dark.webp');
  --bg-dark: url('~/static/images/bg-white.webp');
  --logo-opacity: 0.3;
  --logo-shadow: drop-shadow(0 0 10px #000);
}

@media (max-width: 768px) {
  :root {
    --bg-white: url('~/static/images/bg-white-mobile.webp');
    --bg-dark: url('~/static/images/bg-dark-mobile.webp');
  }
  .dark-mode:root {
    --bg-white: url('~/static/images/bg-dark-mobile.webp');
    --bg-dark: url('~/static/images/bg-white-mobile.webp');
  }
}
